<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringMinesweeperApiApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="spring-minesweeper-api.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.softwareascraft.springminesweeperapi.SpringMinesweeperApiApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>